html {
  background-color: #272822;
  color: #fff;
  font: 16px sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  margin: 1em;
}

input[type="text"] {
  all: unset;
  background-color: #fff2;
  padding: .5em;
}
